/* Reset some default browser styles */
body,
h1,
h2,
h3,
p 
{
  font-size: clamp(30px, 7.5vw + 10px, 30px);
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h2 {
  font-style: italic;
}

main {
  width: 80%;
  margin: 0 auto;
}

article {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article h3 {
  margin-bottom: 10px;
}

article p {
  line-height: 1.8;
}

.full-screen-iframe {
  width: calc(100%); /* Adjust the width and margin to match your existing styles */
  height: calc(100vh - 190px); /* Adjust the height to fill remaining vertical space */
  margin: 20px; /* Match your existing margin */
  border: none; /* Remove default border */
}